<%- include('./partials/header') %>
<div class="hero" id="mission-img">
</div>

<h2 id="mission">Our mission is to increase accesibility to a healthy way of living. We want to connect you with highly rated personal trainers that can help you achieve your own personal goals while pushing you to be the best version of yourself.</h2>

