body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;

  
}


.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

}

#mission-img {
  background-image: url("/images/PT-2.jpeg");
}
