<%- include('../partials/header') %>
<container>
  <form class="form-main" action="/trainers" method="POST">
      <label for="">Name<input type="text" name="name"></label>
      <label for="">Location<input type="text" name="location"></label>
      <label for="">description<input type="text" name="description"></label>
      <label for="">Photo-link<input type="text" name="photo"></label>
      <button type="submit">ADD TRAINER</button>
    </form>
</container>
  